<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-LIBRARY</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="search">Search</label>
        <input type="text" id="search" name="search" placeholder="Search Books!">
        <br>
        <button name="submit">Search</button>
    </form>
</body>
</html>
{% extends 'books/base.html' %}




{% block content %}
<section class="container">
    <div class="row">
        <div class="col">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="wrapper d-flex justify-content-between align-items-center">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <span class="badge badge-info p-2">{{ book.status|title }}</span>
                    </div>
                    <hr>
                    <a href="{% url 'book_update' book.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'book_delete' book.id %}" class="btn btn-danger">Delete</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
   
{% endblock %}

