{% comment %} {% extends 'books/base.html' %}

{% block content %}
<nav class="navbar navbar-dark bg-primary">
    <div class="container">
      <form action="{% url 'search' %}" method=POST>
        {% csrf_token %}
        <input type="text" name="search" placeholder="search for a book">
        <input type="submit" value="search">
      <form>  
    </div>
</nav>



<section class="container">
    <div class="row">
        <div class="col">
            {% for book in books %}
   <div class="card mt-3">
      <div class="card-body d-flex align-items-center justify-content-between">
          <h5>{{ book.title }}</h5>
          {% comment %} <a class="navbar-brand " href="{% url 'book_detail' pk=1 %}">Details</a> {% endcomment %}
          <span class="badge badge-info p-2">{{ book.status|title }}</span>
      </div>
   </div>
{% endfor %}





        </div>
    </div>
</section>
{% endblock %} {% endcomment %}
